# Default values for kubernetes-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace:
  name: staging

replicaCount: 3

image:
  repository: asheshanr/techtrends
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

service:
  type: ClusterIP
  port: 5111
  targetPort: 3111
  containerPort: 3111
  protocol: TCP

livenessProbe:
  httpGet:
    path: /healthz
    port: 3111
readinessProbe:
  httpGet:
    path: /healthz
    port: 3111
resources:
  requests:
    memory: "90Mi"
    cpu: "300m"
  limits:
    memory: "128Mi"
    cpu: "500m"

nodeSelector: {}

tolerations: []

affinity: {}
