# Default values for kubernetes-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace:
  name: prod

replicaCount: 5

image:
  repository: asheshanr/techtrends:latest
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 7111
  targetPort: 3111
  containerPort: 3111
  protocol: TCP

livenessProbe:
  httpGet:
    path: /healthz
    port: 3111
readinessProbe:
  httpGet:
    path: /healthz
    port: 3111
resources:
  requests:
    memory: "128Mi"
    cpu: "350m"
  limits:
    memory: "256Mi"
    cpu: "500m"

nodeSelector: {}

tolerations: []

affinity: {}
